.button{
    background-color: var(--color-4);
    color: var(--color-3);
    font-weight: var(--weight-2);
    border-radius: 8px;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;

    &:hover{
        color: var(--color-5);  
        background-color: var(--color-6);
        border: 1px solid var(--color-5);
        transition: 0.5s;
    }
}