.title-1{
    font-size: var(--size-1);
    font-weight: var(--weight-1);
}

.title-2{
    font-size: var(--size-2);
    font-weight: var(--weight-2);
}

.title-3{
    font-size: var(--size-3);
    font-weight: var(--weight-2);
}

.title-4{
    font-size: var(--size-4);
    font-weight: var(--weight-3);
}